#preloader {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#3c2888; z-index:999;}
#preloader .inner {position:absolute; top:50%; left:50%;transform:translate(-50%, -50%);}
.bolas > div {display:inline-block; background-color:#6f8ab4; width:20px; height:20px; border-radius:100%; margin:3px; -webkit-animation-fill-mode: both; animation-fill-mode:both; animation-name:animarBola; animation-timing-function:linear; animation-iteration-count:infinite;}
.bolas > div:nth-child(1) {animation-duration:0.75s; animation-delay:0;}
.bolas > div:nth-child(2) {animation-duration:0.75s; animation-delay:0.12s;}
.bolas > div:nth-child(3) {animation-duration:0.75s; animation-delay:0.24s;}
 
@keyframes animarBola {0%{-webkit-transform:scale(1); transform:scale(1); opacity:1 }
  16%{-webkit-transform:scale(0.1);transform:scale(0.1);opacity:0.7 }
  33%{-webkit-transform:scale(1);transform:scale(1); opacity:1 } 
}


.modal-window {position:fixed; background-color: rgba(255, 255, 255, 0.8); top:0; right:0; bottom:0; left:0; z-index:999999; visibility: hidden; opacity: 0; pointer-events:none; -webkit-transition: all 0.3s; transition: all 0.2s}
.modal-window:target { visibility: visible; opacity: 1; pointer-events: auto;}
.modal-window > div {max-width:300px; width:100%; padding:30px; position:absolute; top:40%; left:50%; -webkit-transform:translate(-50%, -50%);transform: translate(-50%, -50%); padding:2em; background:#ffffff; -webkit-box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.26); -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.26); box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.26); border-radius:6px}
.modal-close {line-height:50px; font-size:80%; font-weight:bolder; position:absolute; right:12px; text-align:center; top:0; width:80px; text-decoration:none}
.modal-close:hover {color: black;}
.modal-window div:not(:last-of-type) { margin-bottom: 15px;}


.container {position:relative; width:100%; max-width:1000px; margin:0 auto; padding:14px; box-sizing:border-box}
.container-fluid {position:relative; width:100%; margin:0 auto; padding:0; box-sizing:border-box}
.column,.columns {width:100%; float:left; box-sizing:border-box}
.pad{padding:30px 0}
.padown{padding:0 0 60px 0}
.padd{padding:80px 0}
.padb{padding:0 0 40px 0}
.br{color:#fff}
.blu{color:#1a4798}
.roxo{color:#9d3dbc}
.red{color:#ff0042}
.verde{color:#10bb0e}
.ama{color:#efd000}
.precold{text-decoration:line-through;font-size:110%;color:#86e234;padding:0 7px}
.preco{color:#efd000;font-size:128%;padding:0 8px}
.b{font-weight:bold}

.zoom{transition: transform .3s;}
.zoom:hover{transform: scale(1.12);}

.bgazul{background-color:#073870}
.bgred{background-color:#ff0042}
.bgbg{background-color:#f4f4f4}
.bgcz{background-color:#f4f4f4}
.bgbr{background-color:#fff}
.circ{width:100%; height:auto; border-radius:50%; overflow:hidden; float:left; margin:0}
.round{-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.roundt{-webkit-border-radius: 20px;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius: 20px;-moz-border-radius-bottomright: 0;-moz-border-radius-bottomleft: 0;border-radius: 20px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}

.box{-webkit-box-shadow:0px 0px 24px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2); background-color:#fff; padding:50px 20px 30px 20px}
.som{-webkit-box-shadow:0px 0px 22px -8px rgba(0,0,0,0.5);-moz-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.5);box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.5)}
.somt {text-shadow:0px 2px 8px #718298}

@media (min-width: 320px) {
.container {width:94%}
.th.columns  { width:25%; text-align:center}
}

@media (min-width: 650px) {
  .column, .columns {margin-left:3%}
  .column:first-child, .columns:first-child {margin-left:0}

  .one.column,  .one.columns      { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,  .offset-by-three.columns      { margin-left: 26%;            }
  .offset-by-four.column,  .offset-by-four.columns        { margin-left: 34.6666666667%; }
  .offset-by-five.column,  .offset-by-five.columns        { margin-left: 43.3333333333%; }
  .offset-by-six.column,  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,  .offset-by-seven.columns      { margin-left: 60.6666666667%; }
  .offset-by-eight.column,  .offset-by-eight.columns      { margin-left: 69.3333333333%; }
  .offset-by-nine.column,  .offset-by-nine.columns        { margin-left: 78.0%;          }
  .offset-by-ten.column,  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,  .offset-by-eleven.columns    { margin-left: 95.3333333333%; }
  .offset-by-one-third.column,  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,  .offset-by-two-thirds.columns  { margin-left: 69.3333333333%; }
  .offset-by-one-half.column,  .offset-by-one-half.columns     { margin-left: 52%; }
}


html {font-size:62.5%; overflow-x:hidden; scroll-behavior:smooth}
body {margin:0; padding:0; font-size:1.8em; line-height:1.4; font-family:'Lato', sans-serif; font-weight:400; color:#222;}

h1, h2, h3, h4, h5, h6 {margin:0.6em auto; color:#1a4798; line-height:1.2; font-weight:300}
h1 { font-size:3.8rem; }
h2 { font-size:3rem; }
h3 { font-size:2.2rem; }
h4 { font-size:2.2rem; }
h5 { font-size:1.6rem; }
h6 { font-size:1.5rem; }
h7 { font-size:1.2rem;}

@media (min-width: 550px) {
  h1 { font-size:5.5rem; }
  h2 { font-size:3.7rem; }
  h3 { font-size:3.0rem; }
  h4 { font-size:2.7rem; }
  h5 { font-size:2.2rem; }
  h6 { font-size:1.5rem; }
h7 { font-size:1.2rem;}
}

p { margin-top:0; }


a {color:#1a4798; text-decoration:none; -o-transition:color .15s ease-out, background 1s ease-in; -ms-transition:color.15s ease-out, background 1s ease-in; -moz-transition:color.15s ease-out, background 1s ease-in; -webkit-transition:color .15s ease-out, background 1s ease-in;}
a:hover {color:#e2ca04; text-decoration:none}


.button,button,input[type="submit"],input[type="reset"],input[type="button"] {display:inline-block; height:44px; padding:0 20px; color:#fff; text-align:center; font-size:14px; line-height:44px; text-transform: uppercase; text-decoration:none; white-space:nowrap; background-color:#adc7e0; border-radius:33px; cursor:pointer; border:0; transition:all .4s ease;}
.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover,.button:focus,button:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="button"]:focus {color:#ffda18;}


input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],input[type="time"],
textarea,select {height: 38px; padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff; border: 1px solid #D1D1D1; border-radius: 4px; box-shadow: none; box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],input[type="number"],input[type="search"],input[type="text"],input[type="tel"],input[type="url"],input[type="password"],
textarea {-webkit-appearance: none; -moz-appearance: none;appearance: none; }
textarea {min-height: 65px; padding-top: 6px; padding-bottom: 6px; }
input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,
textarea:focus,select:focus {border:1px solid #33C3F0; outline:0; }
label,legend {display: block; margin-bottom: .5rem; font-weight: 600; }
fieldset { padding: 0; border-width: 0; }
input[type="checkbox"],
input[type="radio"] { display:inline; }
label > .label-body { display:inline-block; margin-left:.5rem; font-weight:normal; }



table {margin: 1em 0; border-collapse: collapse;/*   width: 100%; */}
caption {text-align: left; font-style: italic; padding: 0.25em 0.5em 0.5em 0.5em;}
th,td {padding: 0.25em 0.5em 0.25em 1em; vertical-align: text-top; text-align: left; text-indent: -0.5em;border-bottom: 1px solid #E1E1E1;}
th {vertical-align: bottom; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-weight: bold;}
td::before { display: none;}
tr:nth-child(even) { background-color: rgba(255, 255, 255, 0.25);}
tr:nth-child(odd) { background-color: rgba(255, 255, 255, 0.5);}
td:nth-of-type(2) {font-style: italic;}
th:nth-of-type(3),td:nth-of-type(3) {text-align: right;}

@media screen and (max-width: 37em), print and (max-width: 5in) {
table, tr, td {display: block}
tr {padding: 0.7em 2vw}
th,  tr:first-of-type {display: none}
td::before {display: inline;font-weight: bold}
td {display: grid; grid-template-columns: 4em auto; grid-gap: 1em 0.5em;}
caption {background-color: rgba(0, 0, 0, 0.35); color: #fff; font-weight: bold}
td:nth-of-type(3) {text-align: left; }
td:nth-of-type(4), td:nth-of-type(5) {text-align: right; width: 12em}
td:nth-of-type(4)::before, td:nth-of-type(5)::before {text-align: left}
td:nth-of-type(2)::before {font-style: normal}
}


/* Spacing–––––– */
button,.button {margin-bottom: 1rem; }
input,textarea,select,fieldset {margin-bottom: 1.5rem; }
pre,blockquote,dl,figure,table,p,ul,ol,form {margin-bottom: 2.5rem; }


/* Utilities––––––––– */
.u-full-width {width:100%; box-sizing: border-box}
.u-half-width {width:49%; box-sizing: border-box}
.u-max-full-width {max-width: 100%;  box-sizing: border-box}
.u-pull-right {float:right; }
.u-pull-left {float:left; }
.text-center{text-align: center}
.just{text-align:justify}
hr {margin-top:3rem; margin-bottom:3.5rem; border-width:0; border-top: 1px solid #E1E1E1;clear:left}

@media (max-width:720px) {
.u-half-width {width:100%; box-sizing: border-box}
}

.item img {max-width:220px; width:100%; height:auto; padding:10px 10px 0 0; float:left;}
.item h3 {clear:left; margin:20px 0 0 0}
hr .news{clear:left}

.container:after,.row:after,.u-cf { content:""; display:table; clear:both} 


ul.tabs {margin:-40px 0 0 0; padding:0px; list-style:none;}
ul.tabs li {background:none; font-weight:bold; display:inline-block; padding:10px 16px; cursor:pointer; margin:0; font-size:16px; color:#777; border-radius:4px 4px 0 0; box-sizing:border-box; -webkit-box-shadow:0px -8px 9px 0px rgba(166,166,166,0.5); -moz-box-shadow:0px -8px 9px 0px rgba(166,166,166,0.5); box-shadow:0px -8px 9px 0px rgba(166,166,166,0.5)}
ul.tabs li.current {background:#fff; color:#6f0128}
.tab-content {display:none; background:#fff; padding:15px; box-shadow:none; box-sizing: border-box; text-align:justify}
.tab-content.current {display: inherit;}








@media (min-width:320px) {
.shapes{width:120%; overflow-x: hidden; height:auto; opacity:0.8; position:absolute; z-index:1; top:180px; left:-10%}
.hero {height:auto; width:190%; z-index:100; margin-top:220px; margin-left:-8%; overflow-x:hidden}
#termos, #duvidas {margin-top:190px}
    
    .marca{width:90px; height:auto}
    .logo {max-width:40%; height:auto; box-sizing: border-box; top:-10px; right:30%; z-index:200; position:absolute}
    .hm h1{width:90%; padding:180px 20px 0 20px; font-size:30px}
    .conteudo {height:auto; margin-top:450px}
    .selo{max-width:100px;}
    .ico {width:22px; height:auto; padding:0 5px}

.pe {position:fixed; width:100%; height:auto; bottom:0; left:0; margin:0 auto; padding:0; font-size:1.12rem; z-index:999999; background-image: url(../img/shape2.svg); background-size:cover; background-color:none}
.pe a{color:#fff}
.offline{height:100%; position:fixed; top:0; left:0; right:0; bottom:0; background-image: url(../nsa/carmo.jpg); background-size:auto 104%; background-position:center}
.offline h2{padding-top:27%; text-align:right; width:55%; padding-left:24%; font-size:2.3em}
    
.banner{background-color:#fff;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px; margin:20px 0; -webkit-box-shadow:0px 0px 24px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2);}
.banner h3{padding:30px 10px 0 20px}

.slideout-menu {position:fixed; top:0; bottom:0; width:256px; min-height:100vh; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:0; display:none;}
.slideout-menu-left {left: 0;}
.slideout-menu-right {right: 0;}
.slideout-panel {position:relative; z-index:1; will-change:transform; background-color:#FFF; min-height:100vh;}
.slideout-open,.slideout-open body,
.slideout-open .slideout-panel {overflow: hidden;}
.slideout-open .slideout-menu {display: block;} 

.slide-menu-open img{position:fixed; width:20.2%;height:auto; left:3.7%; bottom:21px} 
.side-menu-wrapper {overflow-y:hidden; overflow-x:hidden; background:rgba(35,18,100,1.0); z-index:310; padding:40px 10px 0 35px; position:fixed; top:0px; left:-340px; height:100%; transition:0.3s; width:220px; color:#fff; text-decoration:none;}
.side-menu-wrapper > ul {list-style:none; padding:0; margin:0; overflow-y:auto; width:300px; height:96%}
.side-menu-wrapper > ul > li > a {display:block; padding:10px 0; color:#fff; text-decoration:none; text-shadow:1px -1px 1px #0B1330; font-size:2.2rem; font-weight:300}
.side-menu-wrapper > a.menu-close {position:absolute; bottom:65px; left:40px; color:#ffc035; display:block; font-size:48px; text-decoration:none; z-index:500}
.side-menu-overlay {height:120%; width:0; position:fixed; z-index:300; top:-60px; right: 0; background-color:rgba(35,18,100,.7);
overflow-y:auto; overflow-x:hidden; opacity:0; transition:opacity 1s;}
    
.curso{display:inline-block; float:left;width:41%; min-height:40px; height:auto; padding:12px 7px 12px 7px; margin:5px; background-color:#fff; text-align:center; -webkit-box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12);-moz-box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12); box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12); border:1px solid #fff; border-radius:6px}
.curso h4{font-size:0.95em}

.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary {display:inline-block; height:48px; padding:0 30px; color:#ffda18; text-align:center; font-size:20px; line-height:48px; text-transform:uppercase; text-decoration:none; white-space:nowrap; background-color:transparent; border-radius:24px; cursor:pointer; border:0; transition:all .4s ease; color:#FFF; background: rgb(20,21,47); background: linear-gradient(0deg, rgba(20,21,47,1) 0%, rgba(26,71,152,1) 77%);}
.button.button-primary,button.button-primary,input[type="submit"].button-primary,input[type="reset"].button-primary,input[type="button"].button-primary {height:48px; padding:0 26px; font-size:17px; line-height:48px; border-radius:24px}
.button.button-primary:hover,button.button-primary:hover,input[type="submit"].button-primary:hover,input[type="reset"].button-primary:hover,input[type="button"].button-primary:hover,.button.button-primary:focus,button.button-primary:focus,input[type="submit"].button-primary:focus,input[type="reset"].button-primary:focus,input[type="button"].button-primary:focus {color:#FFF; background: linear-gradient(0deg, rgba(26,71,152,1) 77%),rgba(20,21,47,1) 0%;}

.lbl-toggle h4{padding:0; font-size:1.7rem; font-weight:400; text-transform:none; line-height:140%}
input[type='checkbox'] {display:none;}
.lbl-toggle {display:block; text-transform:uppercase; padding:1rem 0.7rem 0 1.4rem; color:#1c2f6e; background:#fff; cursor:pointer; border-radius:10px; transition:all 0.25s ease-out; margin:20px 20px 0 20px; box-shadow:rgba(15, 20, 31, 0.15) 0px 0px 18px 0px;}
.lbl-toggle::after {content:' '; display:inline-block; vertical-align:middle; transition:transform .2s ease-out; margin:0 0 0 6px}
.collapsible-content {max-height:0px; overflow:hidden; transition:max-height .15s ease-in-out; box-shadow:rgba(15, 20, 31, 0.15) 0px 0px 18px 0px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; margin:0 20px 32px 20px;}
.toggle:checked + .lbl-toggle + .collapsible-content {max-height:999999999px; height:auto}
.toggle:checked + .lbl-toggle {border-bottom-right-radius:0; border-bottom-left-radius:0;}
.collapsible-content .content-inner {background:#fff; border-bottom-left-radius:10px; border-bottom-right-radius:10px; padding:2rem}
.content-inner p, li {font-size:1.5rem; margin-bottom:1.4rem; padding-left:0; text-align:justify}
.curso{width:auto; margin:20px 20px 0 20px; text-align:left; padding:2rem 1.2em 0 1.2em; box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12); -moz-box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12); -webkit-box-shadow:0px 20px 20px 0px rgba(0,0,0,0.12); background:#fff; color:#fff; float:none; border:0}

}


@media (min-width: 360px) {
.top {height:590px; top:120px}
.slide-menu-open img{width:20%; left:3.7%; bottom:18px} 
.curso{width:40.4%; padding:14px 8px 14px 8px; margin:6px}
}


@media (min-width:412px) {
.slide-menu-open img{width:20%; left:3.7%; bottom:15px}
.curso{width:42%}
}


@media (min-width:750px) {
.slide-menu-open img{position:fixed; width:8.8%;height:auto; left:1%; bottom:10px} 
.pe{background:none}.pag{display:none}
.side-menu-wrapper > ul > li > a {padding:8px 0; font-size:2rem}
.offline{background-size:cover; background-position:center; height:135%}
.offline h2{padding-top:19%}
.curso{width:28.8%; height:58px; padding:20px 9px 25px 9px; margin:6px;}
}





